.container {
    margin-top: 40px;
    padding: 60px 15px 0;
}
.row.g-3{
    align-items: center;
}
.input-group-text {
    height: 38px;
}
.input-group{
    align-items: center;
}
.col-4{
    text-align: center;
}
.button-ask{
    margin-top: 10px;
}
.form-check{
    margin-top: 10px;
}
.btn{
    border-radius: 6px;
    color: #0a84ffcd;
    border-color: #0a84ffcd;
    padding: 3px 7px 3px 7px;
}
.btn.button-outline-success.login{
    margin-top: 20px;
    margin-left: 5px;
    height: 40px;
    width: 100px;
    padding: 5px 10px 5px 10px;
}
.btn:hover{
    background-color: #0a84ffcd;
    color: #f8f8ff;
    border-color: #F8F8FF;
}
.question, .answer {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #0a84ffcd;
    border-radius: 6px;
    padding: 20px;
}
.answer{
    border: 1px solid gray;
}
.question-tag{
    margin: 10px 10px 10px 10px;
    padding: 3px 6px 3px 6px;
    background-color: #54a5f7cd;
    border-radius: 20px;
}

.ask-new-question, .registration {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: medium;
    font-style: italic;
    color: #0c1d26;
}

.popular-tags,.best-members{
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
    font-style: italic;
    color: #0c1d26;
}

.btn.btn-outline-success:hover{
    border: 2px solid ghostwhite;
    color: ghostwhite;
}
.image{
    display: inline;
    margin-bottom: 4px;
}
.btn.like{
    background-color: rgb(138, 245, 197);
    color: white;
    border-color: white;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}
.btn.like:hover{
    background-color: rgb(67, 247, 166) ;
}
.rate{
    align-items: center;
}
.btn.dislike{
    background-color:  rgb(245, 138, 245) ;
    color: white;
    border-color: white;
    margin: 10px 10px 10px 0px;
    padding: 5px 5px 5px 5px;
}
.btn.dislike:hover{
    background-color:  rgb(250, 77, 250)
}
.btn.btn-outline-success{
    border: 2px solid navy;
    color: navy;
    background-color: #0A84FF;
    border-radius: 4px;
    margin: 16px 5px 16px 5px;
}
.navbar-nav.me-auto.mb-2.mb-lg-0{
    align-items: center;
}
.question-title{
    color: #0A84FF;
    font-size: large;
    font-weight: light;
}
.btn-outline-success:hover{
    border: 2px solid ghostwhite;
    color: ghostwhite;
    background-color: #0A84FF;
}
.navbar.navbar-expand-md.navbar-dark.fixed-top {
    align-items: center;
}
.form-control{
    width: 500px;
    margin: 15px 5px 15px 100px;
}
.form-control.is-valid, .form-control.upload-photo, .form-control.is-invalid, .form-control.settings{
    margin: 5px 5px 5px 5px;
}
.form-control.ask{
    margin: 5px 5px 5px 0px;
    width: 850px;
}
.form-label{
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
    color: navy;
}
.navbar{
    height: 60px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);;
}
.navbar-brand{
    margin-left: 30px;
    font-size: xx-large;
    font-weight: bold;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

