<!doctype html>
{% extends "inc/base.html" %} 

{% load static %}
{% block content %}

<h2 class="ask-new-question">New question</h2>
<label for="exampleFormControlInput1" class="col-1 form-label">Title</label>
<input type="email" class="form-control ask" id="exampleFormControlInput1" placeholder="Title of your question">
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Text</label>
  <textarea class="form-control ask" id="exampleFormControlTextarea1" rows="15"
    placeholder="Enter your question here"></textarea>
</div>
<div class="input-group">
  <span class="input-group-text">Tags</span>
  <input type="text" aria-label="First tag" class="form-control" placeholder="First tag">
  <input type="text" aria-label="Second tag" class="form-control" placeholder="Second tag">
  <input type="text" aria-label="Third tag" class="form-control" placeholder="Third tag">
</div>
<div class="button-ask">
  <a class="btn btn-lg button-outline-success" href="{% url "index" %}" role="button">Ask!</a>
</div>


{% endblock content %}