{% extends "inc/base.html" %}
{% load static %}


{% block content %}

<h2 class="registration">Log In</h2>
<form class="row">
  <div class="row">
    <label for="validationServer01" class="form-label">Login</label>
    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Login" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="row">
    <label for="validationServer01" class="form-label">Password</label>
    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Password" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="row">
    <a href="{% url "index" %}" class="btn button-outline-success login" role="button">LOGIN!</a>
  </div>
</form>
{% endblock content %}