{% extends "inc/base.html" %} 
{% load static %}


{% block content %}
{% include "inc/question.html" %}
{% include "inc/answer.html" %}

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Your answer</label>
  <textarea class="form-control ask" id="exampleFormControlTextarea1" rows="7"
    placeholder="Enter your answer here"></textarea>
  <button class="btn button-outline-success">Add answer</button>
</div>
{% include "inc/paginator.html"%}
</div>

{% endblock content %}