{% load static %}

{% block content%}

<h2 class="registration">Settings</h2>
<form class="row">
  <div class="row">
    <label for="validationServer01" class="form-label">Login</label>
    <input type="text" class="form-control settings" id="validationServer01" placeholder="Login">
  </div>
  <div class="row">
    <label for="validationServer01" class="form-label">Email</label>
    <input type="text" class="form-control settings" id="validationServer01" placeholder="Email" required>
  </div>
  <div class="row">
    <label for="validationServer01" class="form-label">Username</label>
    <input type="text" class="form-control settings" id="validationServerUsername" required>

  </div>
  <div class="row">
    <label for="validationServer01" class="form-label">Choose avatar</label>
    <input type="file" class="form-control upload-photo" aria-label="file example" required>
    <div class="invalid-feedback">Example invalid form file feedback</div>
  </div>
</form>
<div class="row">
  <a href="{% url "index" %}" class="btn button-outline-success login" role="button">Save!</a>
</div>

{% endblock content%}