<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryabova Ask me</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0A84FF;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="../static/icons/logo-vue.svg" alt="" width="38" height="38" class="d-inline-block align-text-top">
                Ask me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a role="login" href="login.html" class="btn btn-outline-success">Login</a>
                </li>
                <li class="nav-item">
                  <button type="login" class="btn btn-outline-success">Signup</button>
                </li>
              </ul>
        </div>
    </nav>
</header>
<main class="flex-shrink-0">

    <div class="container">
        
        <div class="row">
            <div class="col-8">
                <h2 class="registration">Settings</h2>
                <form class="row">
                    <div class="row">
                        <label for="validationServer01" class="form-label">Login</label>
                        <input type="text" class="form-control settings" id="validationServer01" placeholder="Login">
                    </div>
                    <div class="row">
                        <label for="validationServer01" class="form-label">Email</label>
                        <input type="text" class="form-control settings" id="validationServer01" placeholder="Email" required>
                    </div>
                    <div class="row">
                        <label for="validationServer01" class="form-label">Username</label>
                          <input type="text" class="form-control settings" id="validationServerUsername" required>
                        
                      </div>
                    <div class="row">
                        <label for="validationServer01" class="form-label">Choose avatar</label>
                        <input type="file" class="form-control upload-photo" aria-label="file example" required>
                        <div class="invalid-feedback">Example invalid form file feedback</div>
                    </div>
                  </form>
                  <div class="row">
                    <a href="index.html" class="btn button-outline-success login" role="button">Save!</a>
                  </div>

            </div>
            <div class="col-4">
                <h2 class="popular-tags">Популярные теги</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">First tag</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Second tag</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Third tag</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href=#>Fourth tag</a>
                    </li>
                  </ul>
                  <h2 class="best-members">Best members</h2>
                  <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">First member</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Second member</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Third member</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=#>Fourth member</a>
                      </li>
                    </ul>
            </div>
        </div>
    </div>

</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <a href="https://t.me/nika_rvv" style="font-size: large; font-weight: lighter;">
                Рябова Вероника</a></span>
    </div>
</footer>