{% load static %}


<div class="question">
    <div class="row">
      <div class="col-2">
        <div class="avatar">
          <img src="{% static "icons/Component_1.jpg" %}" alt="" />
        </div>
      </div>
      <div class="col-10">
        <a href="{% url "one_question" pk=question.id %}" class="question-title">{{question.title}}</a>
        <div class="question-rate">
          <img src="{% static "icons/blue-heart.svg" %}" alt="" height="20" width="20"> {{question.rating}}
        </div>
        Tags:<a href="{% url "tag" tag=question.tags.first %}">{{question.tags.first}}</a> <a href="#"></a>
        <div class="question-text">
          {{question.text}}
        </div>
        <div class="rate">
          <button class="btn like d-inline-block">
            <img class="image" src="{% static "icons/heart.svg" %}" alt="" height="20" width="20">
            Like</button>

          <button type="button" class="btn dislike">
            <img class="image" src="{% static "icons/heart-dislike.svg" %}" alt="" height="20" width="20">
            Dislike</button>
            <a href="#">answer({{question.answers.count}})</a>
        </div>
      </div>

    </div>
</div>
